@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

@font-face {
  font-family: "SF Compact Rounded";
  src: url("../assets/fonts/SF-Compact-Rounded-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "SF Compact Rounded";
  src: url("../assets/fonts/SF-Compact-Rounded-Semibold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "SF Compact Rounded";
  src: url("../assets/fonts/SF-Compact-Rounded-Semibold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "SF Compact Display";
  src: url("../assets/fonts/SF-Compact-Display-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "SF Compact Display";
  src: url("../assets/fonts/SF-Compact-Display-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "SF Compact Display";
  src: url("../assets/fonts/SF-Compact-Display-Bold.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "SF Compact Display";
  src: url("../assets/fonts/SF-Compact-Display-Bold.ttf");
  font-weight: 700;
}
