$bg-primary: #1d203e !default;
$bg-secondary: #2c2f48 !default;

$icon-color: #ffffff99;
$icon-hover-color: #ffffff;

$text-colors: (
  default: #ffffff,
  light: #ffffff8c,
  lighter: #ffffff40,
) !default;

$font-weights: (
  light: 300,
  regular: 400,
  bold: 700,
) !default;

$spacer: 8px !default;
