@font-face {
  src: url("../fonts/bahnschrift.ttf");
  font-family: "Bahnschrift";
  font-weight: 300;
}
@font-face {
  src: url("../fonts/bahnschrift.ttf");
  font-family: "Bahnschrift";
  font-weight: 400;
}
@font-face {
  src: url("../fonts/bahnschrift.ttf");
  font-family: "Bahnschrift";
  font-weight: 700;
}

@font-face {
  src: url("../fonts/amsterdam.ttf");
  font-family: "Amsterdam";
  font-weight: 300;
}
@font-face {
  src: url("../fonts/amsterdam.ttf");
  font-family: "Amsterdam";
  font-weight: 400;
}
